$white-0: #fff;
$black-0: #000;

$gray-0: #F6F8FA;
$gray-25: #F1F4F7;
$gray-50: #E5E5E5;
$gray-100: #DCE4EA;
$gray-200: #909AB4;
$gray-300: #788397;
$gray-400: #6C757D;
$gray-850: #363740;
$gray-900: #5C656F4D;
$gray-950: #252733;

$blue-0: #339AF0;
$red-0: #FF4433;
$yellow-0: #FBBC04;

$bg-base: $white-0;
$bg-elevated: $gray-0;

$text-dark: $black-0;
$text-darker: $gray-950;
$text-primary: $gray-850;
$text-secondary: $gray-400;
$text-link: $gray-300;
$text-inverse: $white-0;

$button-primary: $blue-0;

$border-primary: $gray-100;
$border-card: $gray-25;

$shadow-primary: $gray-900;